blog/tensor_model/img_model/*
blog/tensor_model/bottlenecks/*
blog/tensor_model/inception/*
blog/tensor_model/retrained_graph.pb
blog/tensor_model/training_summaries/*

blog/opencv_model/bg.txt
blog/opencv_model/neg/*
blog/opencv_model/neg_and_bg/*

blog/opencv_model/image_link/*

blog/object_detector/data/features/*
blog/object_detector/data/dataset/*

blog/classification/back_up_img/*
blog/classificationimage_4_classification/*

blog/media/*

minh_key*

*.pyc
*.whl
*.pb
classification/image_4_classification/0_neg/
opencv_model/pen_on_hand_img/*
opencv_model/pos/*
