<html lang="en">

<head>

<title>Upload & Search Similar Image</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/analize.css">
  <script type="text/javascript" src="/static/js/analize.js"> </script>


</head>

<body>
  <div class="container">

<!--     <nav class="col-sm-6 nav nav-tabs">


        <div class="nav nav-pills nav-stacked" role="tablist">
          <div id="linkwrapper" class="row">
            <div  class="col-sm-3 navi-header"><a class="nav " id="link1" href="#">python</a><br/></div>
            <div  class="col-sm-3 navi-header"><a class="nav " id="link2" href="#">crawling system</a><br/></div>
            <div  class="col-sm-3 navi-header"><a class="nav " id="link3" href="#">machine learning</a></div>
            <div  class="col-sm-3 navi-header"><a class="nav " id="link4" href="#">deep learning</a></div>
          </div>


        </div>
    </nav> -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Python</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Machine Learning<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/blog/result/">Demo with Image Regcornize</a></li>
                <li><a href="#">Re Sy</a></li>
                <li><a href="#">Cr Sy</a></li>
              </ul>
            </li>
            <li><a href="#">Deep Learning</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="padding:40px;margin:40px;border:1px solid #ccc">

    </div>


      <!-- <h2>
        <a href="/blog/result/"><strong>Image Regcornize</strong></a>
      </h2> -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">

          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="/static/img/tensorflow.png" alt="tensorflow" style="width:100%; height: 450px;">
            <div class="carousel-caption">
              <h3>TensorFlow</h3>
              <p>An open-source software library for Machine Intelligence.</p>
            </div>
          </div>

            <div class="item">
              <img src="/static/img/scikit-learn.png" alt="scikit-learn" style="width:100%; height: 450px;">
              <div class="carousel-caption">
                <h3>scikit-learn</h3>
                <p>scikit-learn. Machine Learning in Python</p>
              </div>
            </div>

            <div class="item">
              <img src="/static/img/opencv-python.png" alt="opencv-python" style="width:100%; height: 450px;">
              <div class="carousel-caption">
                <h3>OpenCV Python</h3>
                <p>Open Source Computer Vision Library</p>
              </div>
            </div>

            <div class="item">
              <img src="/static/img/python.png" alt="python" style="width:100%; height: 450px;">
              <div class="carousel-caption">
                <h3>Python</h3>
                <p>Python is an easy to learn, powerful programming language</p>
              </div>
            </div>

            <div class="item">
              <img src="/static/img/django.png" alt="django" style="width:100%; height: 450px;">
              <div class="carousel-caption">
                <h3>Django</h3>
                <p>Django is a high-level Python Web framework</p>
              </div>
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>





  </div>
</body>
</html>
